form.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed #2A3132;
    padding: 200px;
    margin: 150px;
}

form.box:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.box__file,
.box__button,
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.has-advanced-upload {
    background-color: #90AFC5;
    outline-offset: -20px;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
    background: #90AFC5;
}

.box.is-dragover {
    background-color: #7f9cb2;
}

.box.is-uploading .box__input {
    visibility: hidden;
}

.box.is-uploading .box__uploading {
    display: block;
}

#hidden_elem{
    visibility: visible;
}