beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
elasticsearch==6.3.1
feedparser==5.2.1
Flask==1.0.2
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
knmi-py==0.1.6
MarkupSafe==1.1.0
matplotlib==3.0.2
mysqlclient==1.3.14
numpy==1.15.4
pandas==0.23.4
PyMySQL==0.9.3
pynetgear==0.5.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.3
requests==2.21.0
six==1.12.0
SQLAlchemy==1.2.15
urllib3==1.24.1
Werkzeug==0.14.1
