<!DOCTYPE html>
<html>
<head>
    <title>
        iDoc, YouDoc, WeDoc
    </title>
    <strong>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </strong>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="div2">
    <form class="box" method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        <div class="box__input">
            <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
            <input class="box__file button" type="file" name="filelist" id="file"
                   data-multiple-caption="{count} files uploaded" multiple />
            <button class="box__button button" type="submit">Upload</button>
        </div>
        <div class="box__uploading">Uploading&hellip;</div>
        <div class="box__success">Done!</div>
        <div class="box__error">Error! <span></span>.</div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/filedrop.js') }}"></script>
</body>
</html>



